In [1]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [2]:
names= pd.Series({1:'Nourah', 2:'Sarah', 3:'Ahmed'})
names

1    Nourah
2     Sarah
3     Ahmed
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [3]:
names.index = [11, 12, 13]
names

11    Nourah
12     Sarah
13     Ahmed
dtype: object

## Q3: Retrieve First and second elements.

In [4]:
n1=names[:2]
n1

11    Nourah
12     Sarah
dtype: object

## Q4: Add duplicate elements, then remove the duplication.

In [5]:
names.append(n1).drop_duplicates()

/var/folders/cf/zw1t4zn544gbqbcnk1vfhbh00000gn/T/ipykernel_2800/1719965824.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  names.append(n1).drop_duplicates()

11    Nourah
12     Sarah
13     Ahmed
dtype: object

In [6]:
#or
(pd.concat([names, n1],ignore_index=True)).drop_duplicates()

0    Nourah
1     Sarah
2     Ahmed
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [7]:
Students=pd.DataFrame({'ID':[10, 11, 12],
                       'Name':['Nourah', 'Sarah', 'Ahmed'],
                       'GPA':[4.9, 4.3, 4.8]
                      })

Students

   ID    Name  GPA
0  10  Nourah  4.9
1  11   Sarah  4.3
2  12   Ahmed  4.8

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [8]:
file=pd.read_csv('educ_figdp_1_Data.csv')
file.head()

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [9]:
#index only show recods 9,10,11,12,13,14 without 15
file[9:15]

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
9,2009,European Union (28 countries),Total public expenditure on education as % of ...,5.38,e
10,2010,European Union (28 countries),Total public expenditure on education as % of ...,5.41,e
11,2011,European Union (28 countries),Total public expenditure on education as % of ...,5.25,e
12,2000,European Union (27 countries),Total public expenditure on education as % of ...,4.91,s
13,2001,European Union (27 countries),Total public expenditure on education as % of ...,4.99,s
14,2002,European Union (27 countries),Total public expenditure on education as % of ...,5.00,e

In [10]:
#show record from 9 to 15
file.loc[9:15]

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
9,2009,European Union (28 countries),Total public expenditure on education as % of ...,5.38,e
10,2010,European Union (28 countries),Total public expenditure on education as % of ...,5.41,e
11,2011,European Union (28 countries),Total public expenditure on education as % of ...,5.25,e
12,2000,European Union (27 countries),Total public expenditure on education as % of ...,4.91,s
13,2001,European Union (27 countries),Total public expenditure on education as % of ...,4.99,s
14,2002,European Union (27 countries),Total public expenditure on education as % of ...,5.00,e
15,2003,European Union (27 countries),Total public expenditure on education as % of ...,5.04,e